// help.scss
//
// Made with ❤️ by Maysara.




// ----------------------------------------------------------------------------
// HELPER FUNCTIONS (SCSS)
// ----------------------------------------------------------------------------
    // Get semantic color
    @function color($name) {
        @return var(--#{token.$name});
    }

    // Get spacing
    @function space($value) {
        @return calc(var(--unit) * #{token.$value});
    }
